<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Global>
    <Network InputBufferLen="2048" OutputBufferLen="8192" SocketInputBufferLen="8192" SocketOutputBufferLen="8192" />
    <Servers>
      <!--<Server Id="1" Name="GameServer" IP="114.115.146.185" Port="22001" maxPlayerCtx="1000" />-->
      <!--<Server Id="1" Name="GameServer" IP="127.0.0.1" Port="22001" maxPlayerCtx="1000" />-->
      <Server Id="1" Name="GameServer" IP="0.0.0.0" Port="22001" maxPlayerCtx="1000" />
    </Servers>
  </Global>

  <!--以下为GameServer的服务器配置-->
  <ServerContext AsyncActionQueueCount ="100" HeartBeatTimerPeriod="5000"/>
  <BattleConfig TickTime ="100"/>
  <DBConfig>
    <Database ConnectHost="114.115.146.185" Port="27017" DataBase="SpaceShooter" UserName="CrazyMan" Password="123456" />
  </DBConfig>
  <BarrierConfig>
    <Barrier Id="1" Level="1"  Name="第一关卡单人模式" MemberCount="1" Time="5">
      <!--
      StartCondition:
          1002 时间激活 分钟
          1003 敌人击杀 船
          1004 关卡开启时执行
          1005 生成敌人
          1006 通过位置生成
      Result:
          1004 失败
          1002 胜利
          1003 任务激活 id
          1005 生成Actor
      
      -->


      <TaskConfigs>

        <!-- 关卡开始开启任务 环境生成-->
        <!--
        <TaskItem Id="10" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--关卡开始时开启-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            -->
        <!--激活任务11-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="11"/>
          </TaskConditionItemConfig>
        </TaskItem>

        -->
        <!-- 基于坐标的环境生成-->
        <!--
        <TaskItem Id="11" StartCondition="1006" Result ="1001" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1025"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="0"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="0"/>
          </TaskConditionItemConfig>
        </TaskItem>
        
        -->
        <!--环境生成另一种实现-->
        <!--
        -->
        <!--在关卡开始时生成Actor-->
        <!--
        <TaskItem Id="12" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1025"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="22"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="22"/>
          </TaskConditionItemConfig>
        </TaskItem>
        -->
        <!--在关卡开始时生成Actor-->
        <!--
        <TaskItem Id="13" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1026"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="44"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="44"/>
          </TaskConditionItemConfig>
        </TaskItem>
          -->
        <!--在关卡开始时生成Actor-->
        <!--
          <TaskItem Id="14" StartCondition="1004" Result ="1005" Description="" TaskAward="">
            <TaskConditionItemConfig>
              -->
        <!--物体类型 陨石-->
        <!--
              <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1027"/>
              -->
        <!--物体x轴坐标-->
        <!--
              <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="66"/>
              -->
        <!--物体y轴坐标-->
        <!--
              <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="66"/>
            </TaskConditionItemConfig>
          </TaskItem>
          
        -->
        <!--在关卡开始时生成Actor-->
        <TaskItem Id="14" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--物体类型 黑洞-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1028"/>
            <!--物体x轴坐标-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="350"/>
            <!--物体y轴坐标-->
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="350"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--关卡开始时开启任务 激活任务 “关卡失败”-->
        <TaskItem Id="1" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--关卡开始时开启-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            <!--激活任务2-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="2"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--关卡失败 限时-->
        <TaskItem Id="2" StartCondition="1002" Result ="1004" Description="" TaskAward="" >
          <TaskConditionItemConfig>
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="5"/>
          </TaskConditionItemConfig>
        </TaskItem>


        <!--关卡开始时开启任务 激活任务4  “生成第一波敌人”-->
        <TaskItem Id="3" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--关卡开始时开启-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            <!--激活任务4-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="4"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--生成第一波敌人时触发 激活任务5-->
        <TaskItem Id="4" StartCondition="1005" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--生成1005类型敌人 3艘-->
            <Condition ConditionType="0" ConditionTarget="1005" Description="" ConditionValue="3"/>
            <!--激活任务5-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="5"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--消灭第一波敌人时触发 激活任务5-->
        <TaskItem Id="5" StartCondition="1003" Result ="1003" Description="消灭敌人" TaskAward="">
          <TaskConditionItemConfig>
            <!--消灭敌人 3-->
            <Condition ConditionType="0" ConditionTarget="0" Description="消灭敌人" ConditionValue="3"/>
            <!--激活任务6-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="6"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--生成第2波敌人时触发 激活任务5-->
        <TaskItem Id="6" StartCondition="1005" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--生成1005类型敌人 3艘-->
            <Condition ConditionType="0" ConditionTarget="1005" Description="" ConditionValue="3"/>
            <!--激活任务17-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="17"/>
          </TaskConditionItemConfig>
        </TaskItem>




        <!--击杀敌方共1名 关卡成功-->
        <TaskItem Id="17" StartCondition="1003" Result ="1002" Description="消灭敌人" TaskAward="" >
          <TaskConditionItemConfig>
            <!--消灭1一个敌人-->
            <Condition ConditionType="0" ConditionTarget="0" Description="消灭敌人" ConditionValue="3"/>
          </TaskConditionItemConfig>
        </TaskItem>


      </TaskConfigs>



    </Barrier>
    <Barrier Id="2" Level="1"  Name="第一关卡双人模式" MemberCount="2">

      <TaskConfigs>

        <!-- 关卡开始开启任务 环境生成-->
        <!--
        <TaskItem Id="10" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--关卡开始时开启-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            -->
        <!--激活任务11-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="11"/>
          </TaskConditionItemConfig>
        </TaskItem>

        -->
        <!-- 基于坐标的环境生成-->
        <!--
        <TaskItem Id="11" StartCondition="1006" Result ="1001" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1025"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="0"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="0"/>
          </TaskConditionItemConfig>
        </TaskItem>
        
        -->
        <!--环境生成另一种实现-->
        <!--
        -->
        <!--在关卡开始时生成Actor-->
        <!--
        <TaskItem Id="12" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1025"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="22"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="22"/>
          </TaskConditionItemConfig>
        </TaskItem>
        -->
        <!--在关卡开始时生成Actor-->
        <!--
        <TaskItem Id="13" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            -->
        <!--物体类型 陨石-->
        <!--
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1026"/>
            -->
        <!--物体x轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="44"/>
            -->
        <!--物体y轴坐标-->
        <!--
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="44"/>
          </TaskConditionItemConfig>
        </TaskItem>
          -->
        <!--在关卡开始时生成Actor-->
        <!--
          <TaskItem Id="14" StartCondition="1004" Result ="1005" Description="" TaskAward="">
            <TaskConditionItemConfig>
              -->
        <!--物体类型 陨石-->
        <!--
              <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1027"/>
              -->
        <!--物体x轴坐标-->
        <!--
              <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="66"/>
              -->
        <!--物体y轴坐标-->
        <!--
              <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="66"/>
            </TaskConditionItemConfig>
          </TaskItem>
          
        -->
        <!--在关卡开始时生成Actor-->
        <TaskItem Id="14" StartCondition="1004" Result ="1005" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--物体类型 陨石-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1028"/>
            <!--物体x轴坐标-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="350"/>
            <!--物体y轴坐标-->
            <Condition ConditionType="0" ConditionTarget="2" Description="" ConditionValue="350"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--关卡开始时开启任务 激活任务 “关卡失败”-->
        <TaskItem Id="1" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--关卡开始时开启-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            <!--激活任务2-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="2"/>
          </TaskConditionItemConfig>
        </TaskItem>

        <!--关卡失败 限时-->
        <TaskItem Id="2" StartCondition="1002" Result ="1004" Description="" TaskAward="" >
          <TaskConditionItemConfig>
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="5"/>
          </TaskConditionItemConfig>
        </TaskItem>


        <!--关卡开始时开启任务 激活任务4  “生成第一波敌人”-->
        <TaskItem Id="3" StartCondition="1004" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--关卡开始时开启-->
            <Condition ConditionType="0" ConditionTarget="0" Description="" ConditionValue="1"/>
            <!--激活任务4-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="6"/>
          </TaskConditionItemConfig>
        </TaskItem>


        <!--生成第二波敌人时触发 激活任务7-->
        <TaskItem Id="6" StartCondition="1005" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--生成1009类型敌人 1艘-->
            <Condition ConditionType="0" ConditionTarget="1009" Description="" ConditionValue="1"/>
            <!--激活任务7-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="7"/>
          </TaskConditionItemConfig>
        </TaskItem>
        <!--消灭第一波敌人时触发 激活任务8-->
        <TaskItem Id="7" StartCondition="1003" Result ="1003" Description="消灭敌人" TaskAward="">
          <TaskConditionItemConfig>
            <!--消灭敌人 3-->
            <Condition ConditionType="0" ConditionTarget="0" Description="消灭敌人" ConditionValue="1"/>
            <!--激活任务5-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="8"/>
          </TaskConditionItemConfig>
        </TaskItem>
        <!--生成第二波敌人时触发 激活任务8-->
        <TaskItem Id="8" StartCondition="1005" Result ="1003" Description="" TaskAward="">
          <TaskConditionItemConfig>
            <!--生成1010类型敌人 1艘-->
            <Condition ConditionType="0" ConditionTarget="1010" Description="" ConditionValue="1"/>
            <!--激活任务8-->
            <Condition ConditionType="0" ConditionTarget="1" Description="" ConditionValue="17"/>
          </TaskConditionItemConfig>
        </TaskItem>



        <!--击杀敌方共1名 关卡成功-->
        <TaskItem Id="17" StartCondition="1003" Result ="1002" Description="消灭敌人" TaskAward="" >
          <TaskConditionItemConfig>
            <!--消灭1一个敌人-->
            <Condition ConditionType="0" ConditionTarget="0" Description="消灭敌人" ConditionValue="1"/>
          </TaskConditionItemConfig>
        </TaskItem>


      </TaskConfigs>

    </Barrier>
    <Barrier Id="3" Level="1"  Name="第一关卡小队模式" MemberCount="4"></Barrier>
    <Barrier Id="4" Level="2"  Name="第二关卡单人模式" MemberCount="1"></Barrier>
    <Barrier Id="5" Level="2"  Name="第二关卡双人模式" MemberCount="2"></Barrier>
    <Barrier Id="6" Level="2"  Name="第二关卡小队模式" MemberCount="4"></Barrier>
    <Barrier Id="7" Level="3"  Name="第三关卡单人模式" MemberCount="1"></Barrier>
  </BarrierConfig>
  <GameMatchTeam TeamMaxCount="1000" TeamCapacity="4" />
  <GameServerPlayerContext  ConnectTimeOut="600000" DisconnectTimeOut="1000" SessionTokenTimeOut="60000" AuthTokenTimeOut="60000" ShutdownTimeOut="60000"  />
  <ShipConfig>
    <Ship ShipType="1004" ShipName="黄蜂飞船" Mass="10" MaxHp="20" MaxShield="0" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1005" ShipName="战斗机A" Mass="10" MaxHp="30" MaxShield="0" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1006" ShipName="战斗机B" Mass="10" MaxHp="30" MaxShield="0" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1007" ShipName="无人机" Mass="1" MaxHp="10" MaxShield="0" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1008" ShipName="歼灭船" Mass="10" MaxHp="10" MaxShield="0" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1009" ShipName="精英船A" Mass="20" MaxHp="10000" MaxShield="2000" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
    <Ship ShipType="1010" ShipName="精英船B" Mass="20" MaxHp="6000" MaxShield="4000" ShieldRecoverySpeed="5" AccelerationSpeed="100" MaxAccelerationSpeed="100" MaxSpeed="500" MaxTurnSpeed="10"/>
  </ShipConfig>
  <GameSkillConfig>
    <DamageSkillConfig>
      <!-- CD ms-->
      <Damage SkillType="1012" SkillName="机关枪" CD="200" MaxCount="100" MaxDamageValue="4" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1013" SkillName="高射炮" CD="1500" MaxCount="100" MaxDamageValue="15" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1014" SkillName="鱼雷" CD="4000" MaxCount="100" MaxDamageValue="40" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1015" SkillName="跟踪导弹" CD="1000" MaxCount="100" MaxDamageValue="9" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1016" SkillName="持续激光" CD="100" MaxCount="100" MaxDamageValue="1" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1017" SkillName="蓄力激光" CD="5000" MaxCount="100" MaxDamageValue="60" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1018" SkillName="定时炸弹" CD="2000" MaxCount="100" MaxDamageValue="15" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
      <Damage SkillType="1019" SkillName="触发炸弹" CD="4000" MaxCount="100" MaxDamageValue="20" DamageDistance="10000" DamageRange="0" AttackInterval="1" PhsicsValue="0"/>
    </DamageSkillConfig>
    <SummonSkillConfig>
      <Summon SkillType="1022" SkillName="召唤道具" CD="0" MaxSummonCount="1000" SummonShipType="1" SummonSurvivalTime="1"/>
    </SummonSkillConfig>
    <RecoverySkillConfig>
      <Recovery SkillType="1023" SkillName="恢复道具" CD="1" RecoveryType="1" RecoveryValue="100"/>
    </RecoverySkillConfig>
    <GainSkillConfig>
      <Gain SkillType="1024" SkillName="增益道具" CD="1" GainType="1" GainValue="100"/>
    </GainSkillConfig>
  </GameSkillConfig>
</Configure>