<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Global>
    <Network InputBufferLen="2048" OutputBufferLen="8192" SocketInputBufferLen="8192" SocketOutputBufferLen="8192" />
    <Servers>
      <!--<Server Id="1" Name="GameServer" IP="114.115.146.185" Port="22001" maxPlayerCtx="1000" />-->
      <!--<Server Id="1" Name="GameServer" IP="127.0.0.1" Port="22001" maxPlayerCtx="1000" />-->
      <Server Id="1" Name="GateServer01" IP="0.0.0.0" Port="22001" maxPlayerCtx="1000" />
      <Server Id="2" Name="GateServer02" IP="0.0.0.0" Port="22002" maxPlayerCtx="1000" />
      <Server Id="3" Name="GateServer03" IP="0.0.0.0" Port="22003" maxPlayerCtx="1000" />
      <Server Id="4" Name="LobbyServer01" IP="0.0.0.0" Port="22004" maxPlayerCtx="1000" />
      <Server Id="5" Name="LobbyServer02" IP="0.0.0.0" Port="22005" maxPlayerCtx="1000" />
      <Server Id="6" Name="GameServer01" IP="0.0.0.0" Port="22006" maxPlayerCtx="1000" />
      <Server Id="7" Name="GameServer02" IP="0.0.0.0" Port="22007" maxPlayerCtx="1000" />
      <Server Id="8" Name="GameServer03" IP="0.0.0.0" Port="22008" maxPlayerCtx="1000" />
    </Servers>
  </Global>
  <!--以下为GameServer的服务器配置-->
  <ServerTypes>
    <ServerType Id="1" Type="Gate" />
    <ServerType Id="4" Type="Lobby" />
    <ServerType Id="6" Type="Game" />
  </ServerTypes>
  <ServerContext Id="1" Type="Gate" AsyncActionQueueCount ="100" HeartBeatTimerPeriod="5000"/>
  <DBConfig>
    <Database ConnectHost="114.115.146.185" Port="27017" DataBase="SpaceShooter" UserName="CrazyMan" Password="123456" />
  </DBConfig>
  <GameServerPlayerContext  ConnectTimeOut="600000" DisconnectTimeOut="1000" SessionTokenTimeOut="60000" AuthTokenTimeOut="60000" ShutdownTimeOut="60000"/>
</Configure>