<?xml version="1.0" encoding="utf-8"?>
<Configure>
  <Global>
    <Network InputBufferLen="2048" OutputBufferLen="8192" SocketInputBufferLen="8192" SocketOutputBufferLen="8192" />
    <Servers>
      <!--<Server Id="1" Name="GameServer" IP="114.115.146.185" Port="22001" maxPlayerCtx="1000" />-->
      <!--<Server Id="1" Name="GameServer" IP="127.0.0.1" Port="22001" maxPlayerCtx="1000" />-->
      <Server Id="1" Name="GameServer" IP="0.0.0.0" Port="22001" maxPlayerCtx="1000" />
    </Servers>
  </Global>
  <!--以下为GameServer的服务器配置-->
  <ServerContext AsyncActionQueueCount ="100" HeartBeatTimerPeriod="5000"/>
  <DBConfig>
    <Database ConnectHost="114.115.146.185" Port="27017" DataBase="SpaceShooter" UserName="CrazyMan" Password="123456" />
  </DBConfig>
  <GameServerPlayerContext  ConnectTimeOut="600000" DisconnectTimeOut="1000" SessionTokenTimeOut="60000" AuthTokenTimeOut="60000" ShutdownTimeOut="60000"/>
</Configure>